.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tcard {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}
.cardT {
  margin: 5%;
  padding: 2%;
  width: auto;
  border-radius: 15px;
  background-color: #fff0df;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}

.imgP {
  background-color: white;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 1px solid gray;
  
}

.cardT:hover{
     box-shadow: 10px 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);   transition: 0.4s;
     
     border: 3px solid #b4aaa9;
  }

.nomen {
  font-size: x-large;
  font: bolder;
}

.price {
  font-size: xx-large;
  font: bolder;
  color: #edb18e;
  text-shadow: 2px 2px 2px black;
}

.title {
  font-size: 4em;
  font: bolder;
}

.hd {
  background-color: #b4aaa9;
  padding: 10px;
  text-shadow: 3px 3px 3px gray;
  box-shadow: 3px 3px 3px black;
  margin-bottom: 60px;
}

body {
  background-color: #ecdad1;
}

.ft {
  padding: 10px;
  background-color: black;
  color: white;
}
